<h1>All Tags</h1>

<table>
  <thead>
    <tr>
      <th>Tag Id</th>
      <th>UTID</th>
      <th>RSSI</th>
      <th>Antenna</th>
      <th>Visible?</th>
      <th>Funded?</th>
      <th>Member?</th>
      <th>Last seen at</th>
      <th></th>
        <!--
      <th></th>
      <th></th>
      -->
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.tag_id %></td>
        <td><%= tag.utid %></td>
        <td><%= tag.rssi %></td>
        <td><%= tag.antenna %></td>
        <td><%= tag.visible %></td>
        <td><%= tag.funded %></td>
        <td><%= tag.member %></td>
        <td><%= tag.last_seen_at %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <!--
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

